<div id="header">
    <h1 id="heading"> {{pageName}} </h1>
    <div id ="pic">
        <img src="./assets/images/drink.png"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
        [style.margin.px]="imageMargin">

        <img src="./assets/images/drink.png"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
        [style.margin.px]="imageMargin">
    </div>

    <div id ="pic1">
        <img src="./assets/images/drink.png"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
        [style.margin.px]="imageMargin">

        <img src="./assets/images/drink.png"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
        [style.margin.px]="imageMargin">
    </div>


</div>